<nav style="background-color: #FFFFFF; border: double 1px #bbbbbb; margin: 5px 0px">
    <ul class="" style="list-style: none; text-align: center; margin: 0px; padding: 10px 0px;">
        <li style="padding: 0px 27px; display: inline;">
            <%= link_to dashboard_path(current_user), :style => "color: #555555; text-decoration: none;" do %>
                お知らせ
            <% end %>
        </li>
        <li style="padding: 0px 27px; display: inline;">
            <%= link_to root_path, :style => "color: #555555; text-decoration: none;" do %>
                受注管理
            <% end %>
        </li>
        <li style="padding: 0px 27px; display: inline;">
            <%= link_to products_index_path, :style => "color: #555555; text-decoration: none;" do %>
                商品管理
            <% end %>
        </li>
        <li style="padding: 0px 27px; display: inline;">
            <%= link_to root_path, :style => "color: #555555; text-decoration: none;" do %>
                レシピ投稿
            <% end %>
        </li>
        <li style="padding: 0px 27px; display: inline;">
            <%= link_to root_path, :style => "color: #555555; text-decoration: none;" do %>
                ブログ投稿
            <% end %>
        </li> 
        <li style="padding: 0px 27px; display: inline;">
            <%= link_to root_path, :style => "color: #555555; text-decoration: none;" do %>
                タイマー投稿
            <% end %>
        </li>
        <li style="padding: 0px 27px; display: inline;">
            <%= link_to companies_new_path, :style => "color: #555555; text-decoration: none;" do %>
                店舗情報
            <% end %>
        </li> 
        <li style="padding: 0px 27px; display: inline;">
            <%= link_to destroy_user_session_path, :style => "color: #555555; text-decoration: none;", method: :delete do %>
                ログアウト
            <% end %>
        </li>
    </ul>
</nav>