<nav style="margin-top: 10px;">
  <a href="/"><%= image_tag 'logo_gray', :style => "width: 200px; height: auto; margin: 0px 25px 5px;" %></a>
  <!-- 
  <span style="color: #FFFFFF;">　素麺を育む 山と海と町</span>
  -->

  <% if (!user_signed_in?) %>

    <!-- ログインしていない時 -->
    <ul style="float: right; list-style: none;">   
      <!-- 会員登録 -->
      <li style="margin: 0px 5px; color: #FFFFFF; display: inline; background: rgba(0,0,0,0.3); padding: 12px;">
        <%= link_to new_user_registration_path, :style => "color: #FFFFFF; text-decoration: none; font-size: 1.0em;" do %>
          <i class="fa fa-user-plus" aria-hidden="true"></i>&ensp;
          会員登録
        <% end %>
      </li> 
      <!-- ログイン -->
      <li style="margin: 0px 5px; color: #FFFFFF; display: inline; background: rgba(0,0,0,0.3); padding: 12px;">
        <%= link_to new_user_session_path, :style => "color: #FFFFFF; text-decoration: none; font-size: 1.0em;" do %>
          <i class="fa fa-sign-in" aria-hidden="true"></i>&ensp;
          ログイン
        <% end %>
      </li> 
    </ul>

  <% else %>

    <!-- ログインしている時 -->
    <ul style="float: right; list-style: none;"> 
      <!-- マイページ -->
      <li style="margin: 0px 5px; color: #FFFFFF; display: inline; background: rgba(0,0,0,0.3); padding: 12px;">
        <%= link_to dashboard_path(current_user), :style => "color: #FFFFFF; text-decoration: none; font-size: 1.0em;" do %>
          <i class="fa fa-user" aria-hidden="true"></i>&ensp;
          マイページ
        <% end %>
      </li> 

      <!-- お気に入り -->
      <li style="margin: 0px 5px; color: #FFFFFF; display: inline; background: rgba(0,0,0,0.3); padding: 12px;">
        <%= link_to root_path, :style => "color: #FFFFFF; text-decoration: none; font-size: 1.0em;" do %>
          <i class="fa fa-star" aria-hidden="true"></i>&ensp;
          お気に入り
        <% end %>
      </li> 

      <!-- ショッピングカート -->
      <li style="margin: 0px 15px 0px 5px ; color: #FFFFFF; display: inline; background: rgba(0,0,0,0.3); padding: 12px;">
        <%= link_to root_path, :style => "color: #FFFFFF; text-decoration: none; font-size: 1.0em;" do %>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>&ensp;
          買い物かご
        <% end %>
      </li> 
    </ul>

  <% end %>

</nav>