<nav style="height: 70px; background-color: none;">
  <a href="/"><%= image_tag 'logo_gold', :style => "width: 220px; height: auto; margin: 15px;" %></a>
  <!-- 
  <span style="color: #FFFFFF;">　素麺を育む 山と海と町</span>
  -->

  <% if (!user_signed_in?) %>

    <!-- ログインしていない時 -->
    <ul style="float: right; list-style: none; margin: 30px 25px;">   
      <!--       
      <li style="margin: 0px 18px; color: #4d4d4d; display: inline;">
        <%= link_to "オーナーの皆さま", root_path, :style => "color: #FFFFFF;" %>
      </li>
      -->
      <li style="margin: 5px 18px; display: inline;">
        <%= link_to "会員登録", new_user_registration_path, :style => "color: #FFFFFF;" %>
      </li>
      <li style="margin: 5px 18px; display: inline;">
        <%= link_to "ログイン", new_user_session_path, :style => "color: #FFFFFF;" %>
      </li>
    </ul>

  <% else %>

    <!-- ログインしている時 -->
    <ul style="float: right; list-style: none; margin: 30px 25px;"> 

      <!-- メニュー表示 -->
      <li style="margin: 5px 18px; display: inline;">
       <%= link_to "マイページ", root_path, :style => "color: #FFFFFF;" %>
      </li>
      <li style="margin: 5px 18px; display: inline;">
        <%= link_to "メッセージ", root_path, :style => "color: #FFFFFF;" %>
      </li>

      <!-- ユーザーネーム -->
      <li style="margin: 0px 18px; color: #FFFFFF; display: inline;">
        <%= link_to user_path(current_user) do %>
          <% if current_user.name %>
            <%= current_user.name %>
          <% else %>
            <span style="color: #FFFFFF;">お客さま</span>
          <% end %>
        <% end %>
      </li> 


    </ul>

  <% end %>

</nav>