<!-- ナビバー＆フルスクリーン動画（Fix） -->
<div style="position: fixed;">
	<!-- fullscreen_navbar -->
	<div style="position: fixed; width: 100%; z-index: 999;">
		<%= render 'partial/navbar' %>	
	</div>
	<!-- fullscreen_movie -->
	<div>
		<%= video_tag("movie.mp4",:autoplay => false, :controls => false, :style => "width: 100%; height: 100vh; object-fit: cover;") %>
	</div>
</div>

<!-- トップメインコンテンツ（Flow） -->
<div style="position: absolute; margin-top: 100vh; background-color: #ffffff; width: 100%; border-top: solid 1px #cccccc;">


	<!-- メインメニュー -->
	<div style="margin: 50px 0px;">
		<div class="text-center">
			<%= image_tag 'soumen_dammy.jpeg', :style => "width: 200px; height: auto; object-fit: cover;" %>
		</div>

		<div class="row" style="margin-top: 20px;">
			<div class="text-center">
				<ul style="list-style: none;">
					<li style="display: inline;">
						<%= link_to about_path, :style => "font-size: 1.3em; color: #444444 !important; text-decoration: none;" do %>
							SOUMEN CITYとは
						<% end %>
					</li>&emsp;&emsp;
					<li style="display: inline;">
						<%= link_to dna_path, :style => "font-size: 1.3em; color: #444444 !important; text-decoration: none;" do %>
							素麺のDNA
						<% end %>
					</li>&emsp;&emsp;
					<li style="display: inline;">
						<%= link_to rule_path, :style => "font-size: 1.3em; color: #444444 !important; text-decoration: none;" do %>
							３つの約束
						<% end %>
					</li>&emsp;&emsp;
					<li style="display: inline;">
						<%= link_to root_path, :style => "font-size: 1.3em; color: #444444 !important; text-decoration: none;" do %>
							オンラインストア
						<% end %>
					</li>&emsp;&emsp;
					<li style="display: inline;">
						<%= link_to root_path, :style => "font-size: 1.3em; color: #444444 !important; text-decoration: none;" do %>
							レシピ集
						<% end %>
					</li>&emsp;&emsp;
					<li style="display: inline;">
						<%= link_to root_path, :style => "font-size: 1.3em; color: #444444 !important; text-decoration: none;" do %>
							イベント
						<% end %>
					</li>				
				</ul>
			</div>
		</div>
	</div>

	<!-- ３つの約束（概要のみ） -->
	<figure>
		<div class="blur-img toppage_promise_image">
		</div>
	</figure>

	<div class="row" style="margin: -610px 0px 120px;">
		<div class="col-md-10 col-md-offset-1">
			<div style="font-size: 2.0em; text-align: center; line-height: 1.7em; color: #444444;">
				自然に恵まれたそうめんの町で<br>
				熟練の麺匠が手がける
			</div>

			<div style="margin-top: 40px; font-size: 1.3em; text-align: center; line-height: 1.7em; color: #444444;">
				記念撮影だけではなく、普段の家族の姿を写真に残せるよう、<br>
				太陽の光を使って自由に動き回るスタイルで自然な表情を撮影。
			</div>

			<div class="row" style="margin-top: 40px;">
				<div class="col-md-4" style="padding: 20px;">
					<div style="height: 160px; border-radius: 5px; background-color: #ffffff; padding: 30px;">
						<div style="width: 180px; padding: 10px; background-color: #eeeeee; margin: -55px 0px 0px -10px;">
							<span style="color: #d2691e;">Point１</span> 清らかな水
						</div>
						<div class="row">
							<div class="col-md-6">
								<div style="width: 40px; border: solid 3px #000000; margin-top: 20px;"></div>
								<div style="font-size: 1.2em; margin-top: 20px;">清らかな水が育む</div>
							</div>
							<div class="col-md-6">
								<%= image_tag 'mizu.jpg', :style => "width: 100%; height: 140px; object-fit: cover;" %>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4" style="padding: 20px;">
					<div style="height: 160px; border-radius: 5px; background-color: #ffffff; padding: 30px;">
						<div style="width: 180px; padding: 10px; background-color: #eeeeee; margin: -55px 0px 0px -10px;">
							<span style="color: #d2691e;">Point２</span> 旨味ゆたかな塩
						</div>
						<div class="row">
							<div class="col-md-6">
								<div style="width: 40px; border: solid 3px #000000; margin-top: 20px;"></div>
								<div style="font-size: 1.2em; margin-top: 20px;">清らかな水が育む</div>
							</div>
							<div class="col-md-6">
								<%= image_tag 'shio.jpg', :style => "width: 100%; height: 140px; object-fit: cover;" %>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4" style="padding: 20px;">
					<div style="height: 160px; border-radius: 5px; background-color: #ffffff; padding: 30px;">
						<div style="width: 180px; padding: 10px; background-color: #eeeeee; margin: -55px 0px 0px -10px;">
							<span style="color: #d2691e;">Point３</span> 厳選された麦
						</div>
						<div class="row">
							<div class="col-md-6">
								<div style="width: 40px; border: solid 3px #000000; margin-top: 20px;"></div>
								<div style="font-size: 1.2em; margin-top: 20px;">清らかな水が育む</div>
							</div>
							<div class="col-md-6">
								<%= image_tag 'mugi.jpg', :style => "width: 100%; height: 140px; object-fit: cover;" %>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-md-offset-4" style="margin-top: 40px;">
				<%=  link_to 'おいしさの秘密を知る　　　　＞', rule_path, :class => "btn btn-default", :style => "width: 100%; border: solid 1px #666666; color: #444444; background: none; border-radius: 0; text-align: center; padding: 15px; font-size: 1.1em;" %>
			</div>
		</div>
	</div>

	<!-- people_photo_list_to_listing -->
	<div class="row wide_container" style="margin-bottom: 80px;">

		<div class="text-center" style="margin: 30px 0px 50px;">
			<div>
				<%= image_tag 'pro_face.png', :style => "width: 90px; height: 90px; object-fit: cover;" %>
			</div>
			<div style="margin-top: 15px; font-family: sans-serif !important; font-size: 2.0em; color: #444444;">
				妥協しない職人たち
			</div>
			<div style="margin-top: 15px; font-size: 1.2em;">
				トラクターに乗る男前農家集団「トラ男」は、専業農家の３代目たち３人で結成。
			</div>
		</div>

		<div style="margin: 0px 70px;">
			<div class="row">
				<div class="col-md-4" style="text-align: center;">
					<%= link_to about_path, :style => "color: #444444;" do %>
						<%= image_tag 'test_1.jpg', :style => "width: 100%; height: 250px; object-fit: cover; border-radius: 5px;" %>
						<div style="text-align: center;">
							<div style="padding: 20px; background: #FFFFFF; font-size: 1.4em; width: 200px; margin: -50px 0px 0px 22%;position: absolute;">
								<div>陣川 健吾</div>
								<div style="font-size: 0.6em; color: #556b2f;">Kengo Jinkawa</div>
							</div>
						</div>
					<% end %>
				</div>
				<div class="col-md-4" style="text-align: center;">
					<%= link_to about_path, :style => "color: #444444;" do %>
						<%= image_tag 'test_2.jpg', :style => "width: 100%; height: 250px; object-fit: cover; border-radius: 5px;" %>
						<div style="text-align: center;">
							<div style="padding: 20px; background: #FFFFFF; font-size: 1.4em; width: 200px; margin: -50px 0px 0px 22%;position: absolute;">
								<div>野内 仁博</div>
								<div style="font-size: 0.6em; color: #556b2f;">Yoshihiro Nouchi</div>
							</div>
						</div>
					<% end %>
				</div>
				<div class="col-md-4" style="text-align: center;">
					<%= link_to about_path, :style => "color: #444444;" do %>
						<%= image_tag 'test_3.jpg', :style => "width: 100%; height: 250px; object-fit: cover; border-radius: 5px;" %>
						<div style="padding: 20px; background: #FFFFFF; font-size: 1.4em; width: 200px; margin: -50px 0px 0px 22%;position: absolute;">
							<div>池田 勝久</div>
							<div style="font-size: 0.6em; color: #556b2f;">Katsuhisa Ikeda</div>
						</div>
					<% end %>
				</div>

			</div>
		</div>

	</div>


	<div style="margin-top: -200px; background-color: #fff5ee; width: 100vw; height: 920px;">
		
		<div class="row" style="padding-top: 200px;">
			<div class="col-md-10 col-md-offset-1">
				<hr style="border: solid 2px #faebd7;">
				<div class="col-md-2 col-md-offset-5 text-center">
					<div style="padding: 20px; background-color: #fff5ee; margin-top: -62px; font-size: 2.0em; color: #666666;">
						ブログ
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 20px;">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-3">
						<%= link_to about_path, :style => "color: #444444;" do %>
							<%= image_tag 'blog_1.jpg', :style => "width: 100%; height: 160px; object-fit: cover; border-radius: 5px 5px 0px 0px;" %>
							<div style="background-color: #FFFFFF; height: 90px; padding: 10px 15px; border-radius: 0px 0px 5px 5px;">
								<div style="text-align: left; margin-top: -35px;"> 
									<%= image_tag 'test_1.jpg', :style => "width: 50px; height: 50px; object-fit: cover; border-radius: 50px; border: solid 1px #FFFFFF;" %>
								</div>
								<div style="color: #6a5acd; text-align: right; margin-top: -20px;">2017.11.06</div>
								<div style="margin-top: 9px; font-size: 1.1em; font-weight: bold; height: 55px;">今日は近くの幼稚園で、そうめん流しを開催しました。</div>
							</div>
						<% end %>					
					</div>
					<div class="col-md-3">
						<%= link_to about_path, :style => "color: #444444;" do %>
							<%= image_tag 'blog_2.jpg', :style => "width: 100%; height: 160px; object-fit: cover; border-radius: 5px 5px 0px 0px;" %>
							<div style="background-color: #FFFFFF; height: 90px; padding: 10px 15px; border-radius: 0px 0px 5px 5px;">
								<div style="text-align: left; margin-top: -35px;"> 
									<%= image_tag 'test_3.jpg', :style => "width: 50px; height: 50px; object-fit: cover; border-radius: 50px; border: solid 1px #FFFFFF;" %>
								</div>
								<div style="color: #6a5acd; text-align: right; margin-top: -20px;">2017.11.06</div>
								<div style="margin-top: 9px; font-size: 1.1em; font-weight: bold; height: 55px;">ちゃんぽん!? いいえ、これ素麺なんです＾＾。</div>
							</div>
						<% end %>					
					</div>
					<div class="col-md-3">
						<%= link_to about_path, :style => "color: #444444;" do %>
							<%= image_tag 'blog_3.jpg', :style => "width: 100%; height: 160px; object-fit: cover; border-radius: 5px 5px 0px 0px;" %>
							<div style="background-color: #FFFFFF; height: 90px; padding: 10px 15px; border-radius: 0px 0px 5px 5px;">
								<div style="text-align: left; margin-top: -35px;"> 
									<%= image_tag 'test_2.jpg', :style => "width: 50px; height: 50px; object-fit: cover; border-radius: 50px; border: solid 1px #FFFFFF;" %>
								</div>
								<div style="color: #6a5acd; text-align: right; margin-top: -20px;">2017.11.06</div>
								<div style="margin-top: 9px; font-size: 1.1em; font-weight: bold; height: 55px;">即売会に招待してもらい、名古屋にやってきました〜！</div>
							</div>
						<% end %>					
					</div>
					<div class="col-md-3">
						<%= link_to about_path, :style => "color: #444444;" do %>
							<%= image_tag 'blog_4.jpg', :style => "width: 100%; height: 160px; object-fit: cover; border-radius: 5px 5px 0px 0px;" %>
							<div style="background-color: #FFFFFF; height: 90px; padding: 10px 15px; border-radius: 0px 0px 5px 5px;">
								<div style="text-align: left; margin-top: -35px;"> 
									<%= image_tag 'test_1.jpg', :style => "width: 50px; height: 50px; object-fit: cover; border-radius: 50px; border: solid 1px #FFFFFF;" %>
								</div>
								<div style="color: #6a5acd; text-align: right; margin-top: -20px;">2017.11.06</div>
								<div style="margin-top: 9px; font-size: 1.1em; font-weight: bold; height: 55px;">今日はお休み。でも、つい朝5時に起きちゃいます</div>
							</div>
						<% end %>					
					</div>
				</div>
			</div>	
		</div>

	</div>		


	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-5">
					<div style="width: 100%; height: 400px; margin-top: -280px; background-color: #FFFFFF; position: absolute; z-index: 999;">
						<div style="text-align: center;">
							<%= image_tag 'soumen_icon2.jpg', :style => "width: 120px; height: 120px; object-fit: cover; margin-top: 100px;" %>
							<div style="margin-top: 10px; font-size: 1.8em; font-weight: bold; color: #444444;">食卓を彩るそうめんたち</div> 
						</div>
					</div>
				</div>
				<div class="col-md-7">
				</div>
			</div>
			<div class="row">		
				<div class="col-md-3">
				</div>
				<div class="col-md-9" style="margin-top: -180px;">
					<%= image_tag 'menu_img.jpg', :style => "width: 100%; height: 550px; object-fit: cover; border-radius: 15px;" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="margin-top: -100px;">
					<h4>SOUMEN Recipe</h4>
					<h5 style="margin-top: 10px;">そうめんレシピのご紹介</h5>
					<div style="margin-top: 38px; width: 5%; height: 7px; background-color: #444444;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div style="font-size: 1.1em; margin: 45px 0px; line-height: 1.9em;">
				そうめんは寂しがり屋です。夏しか食べてくれないと泣いてしまいます。具材が豊かなもの、温かなもの、そうめんが活躍する一皿はさまざまです。冷たいそうめんしか食べてこなかった方は、ぜひ職人おすすめレシピを実践してみてください。みなさんの食卓に彩豊かな素麺たちがならびますように。
			</div>

			<div class="row" style="margin-bottom: 100px;">
				<div class="col-md-2">
					<%= link_to about_path, :style => "color: #444444; text-decoration: none;" do %>
						<%= image_tag 'menu_1.jpeg', :style => "width: 100%; height: 200px; object-fit: cover; border-radius: 5px;" %>
						<div style="background-color: #FFFFFF; height: 50px; padding: 10px 15px; border-radius: 0px 0px 5px 5px; margin-top: -65px;">
							<div style="font-size: 1.2em; font-weight: bold; height: 50px; text-shadow: 2px 2px 5px #1e1e1e; color: #FFFFFF;">
								絶品！たまごキムチそうめん
							</div>
						</div>
						<div style="width: 15px; height: 15px; background-color: #FFFFFF; border-radius: 50px; position: absolute; margin: -175px 0px 0px 10px;">
						</div>
					<% end %>					
				</div>
				<div class="col-md-2">
					<%= link_to about_path, :style => "color: #444444; text-decoration: none;" do %>
						<%= image_tag 'menu_2.jpeg', :style => "width: 100%; height: 200px; object-fit: cover; border-radius: 5px;" %>
						<div style="background-color: #FFFFFF; height: 50px; padding: 10px 15px; border-radius: 0px 0px 5px 5px; margin-top: -65px;">
							<div style="font-size: 1.2em; font-weight: bold; height: 50px; text-shadow: 2px 2px 5px #1e1e1e; color: #FFFFFF;">
								あっさりタラコにゅうめん
							</div>
						</div>
						<div style="width: 15px; height: 15px; background-color: #FFFFFF; border-radius: 50px; position: absolute; margin: -175px 0px 0px 10px;">
						</div>
					<% end %>					
				</div>
				<div class="col-md-2">
					<%= link_to about_path, :style => "color: #444444; text-decoration: none;" do %>
						<%= image_tag 'menu_3.jpeg', :style => "width: 100%; height: 200px; object-fit: cover; border-radius: 5px;" %>
						<div style="background-color: #FFFFFF; height: 50px; padding: 10px 15px; border-radius: 0px 0px 5px 5px; margin-top: -65px;">
							<div style="font-size: 1.2em; font-weight: bold; height: 50px; text-shadow: 2px 2px 5px #1e1e1e; color: #FFFFFF;">
								鶏ガラ パイタンそうめん
							</div>
						</div>
						<div style="width: 15px; height: 15px; background-color: #FFFFFF; border-radius: 50px; position: absolute; margin: -175px 0px 0px 10px;">
						</div>
					<% end %>					
				</div>
				<div class="col-md-2">
					<%= link_to about_path, :style => "color: #444444; text-decoration: none;" do %>
						<%= image_tag 'menu_4.jpeg', :style => "width: 100%; height: 200px; object-fit: cover; border-radius: 5px;" %>
						<div style="background-color: #FFFFFF; height: 50px; padding: 10px 15px; border-radius: 0px 0px 5px 5px; margin-top: -65px;">
							<div style="font-size: 1.2em; font-weight: bold; height: 50px; text-shadow: 2px 2px 5px #1e1e1e; color: #FFFFFF;">
								スイーツ感覚!? スナックそうめん
							</div>
						</div>
						<div style="width: 15px; height: 15px; background-color: #FFFFFF; border-radius: 50px; position: absolute; margin: -175px 0px 0px 10px;">
						</div>
					<% end %>					
				</div>
				<div class="col-md-2">
					<%= link_to about_path, :style => "color: #444444; text-decoration: none;" do %>
						<%= image_tag 'menu_5.jpeg', :style => "width: 100%; height: 200px; object-fit: cover; border-radius: 5px;" %>
						<div style="background-color: #FFFFFF; height: 50px; padding: 10px 15px; border-radius: 0px 0px 5px 5px; margin-top: -65px;">
							<div style="font-size: 1.2em; font-weight: bold; height: 50px; text-shadow: 2px 2px 5px #1e1e1e; color: #FFFFFF;">
								冷麺 with コンソメジュレ
							</div>
						</div>
						<div style="width: 15px; height: 15px; background-color: #FFFFFF; border-radius: 50px; position: absolute; margin: -175px 0px 0px 10px;">
						</div>
					<% end %>					
				</div>
				<div class="col-md-2">
					<%= link_to about_path, :style => "color: #444444; text-decoration: none;" do %>
						<%= image_tag 'menu_6.jpeg', :style => "width: 100%; height: 200px; object-fit: cover; border-radius: 5px;" %>
						<div style="background-color: #FFFFFF; height: 50px; padding: 10px 15px; border-radius: 0px 0px 5px 5px; margin-top: -65px;">
							<div style="font-size: 1.2em; font-weight: bold; height: 50px; text-shadow: 2px 2px 5px #1e1e1e; color: #FFFFFF;">
								新発見！魚介系豚骨ソーメン
							</div>
						</div>
						<div style="width: 15px; height: 15px; background-color: #FFFFFF; border-radius: 50px; position: absolute; margin: -175px 0px 0px 10px;">
						</div>
					<% end %>					
				</div>


				<div class="col-md-4 col-md-offset-4" style="margin-top: 80px;">
					<%=  link_to '他のレシピを見てみる　　　　＞', rule_path, :class => "btn btn-default", :style => "width: 100%; border: solid 1px #666666; color: #444444; background: none; border-radius: 0; text-align: center; padding: 15px; font-size: 1.1em;" %>
				</div>
			</div>
		</div>
	</div>


	<div class="row" style="margin-bottom: 100px;">
		<div class="col-md-10 col-md-offset-1">

			<div class="row">
				<div class="col-md-6" style="height: 400px; background-color: #fdf5e6; border-radius: 15px 0px 0px 0px;">
					
				</div>
				<div class="col-md-6" style="height: 400px; background-color: #fff8dc; border-radius: 0px 15px 0px 0px;">
					
				</div>
				<div class="col-md-6" style="height: 400px; background-color: #f0ffff; border-radius: 0px 0px 0px 15px;">
					
				</div>
				<div class="col-md-6" style="height: 400px; background-color: #f0fff0; border-radius: 0px 0px 15px 0px;">
					
				</div>
				
			</div>

			<div style="margin: -780px 40vw 0px; position: absolute;">
				温かい
			</div>
			<div style="margin: -40px 40vw 0px; position: absolute;">
				冷たい
			</div>
			<div style="margin: -410px 0.5vw 0px; position: absolute;">
				シンプル
			</div>
			<div style="margin: -410px 60.5vw 0px; position: absolute;">
				アレンジ
			</div>

		</div>
	</div>



	<!-- Footer -->
	<%= render 'partial/footer' %>



</div>







